body {
    background-color: #fdfcf8;
}

*:focus {
    outline: none;
}

h1 {
    font-size: 80px;
    padding: 0;
    margin: 0;
    color: #4a4453;
    letter-spacing: -6px;
    word-spacing: 2px;

}

h2 {
    color: #4a4453;
    font-size: 56px;
    padding: 0;
    margin: 0;
    letter-spacing: -4px;
    word-spacing: 4px;

}

p {
    font-size: 16px;
    padding: 0px;
    margin: 0;

}

.home-cards-button {
    padding: 12px 48px;
    background-color: #121610;
    color: #c4c4c4;
    border-radius: 24px;
    border-style: none;
    font-size: bold;
    font-weight: bold;

}

.home-cards-button:hover {
    background-color: #c4c4c4;
    color: #121610;
}


.header {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 32px;
    
}

.logo {
    width: auto;
    height: 32px;
}

.logo-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logoandtext {
    width: 132px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.nav-bar {
    display: flex;
    gap: 24px;
    
}



#give-button {
    background-color: black ;
    color: #c5c5c5;
    border-radius: 32px;
    padding: 8px 32px;
}

.nav-bar, .footer-nav-bar {
    font-size: 12px;
    font-weight: bold;
}

.footer-nav-text, .nav-text {
    all: unset;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero-section {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.hero-text {
    /* min-width: 380px; */
    /* max-width: 380px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text h1 {
    font-size: 72px;
    text-align: center;
}

.hero-text h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    color: black;
    font-size: 16px;
    font-weight: light;
    text-align: center;
    max-width: 50%;
}

.hero-image p {
    color: #4a4453;
}

.hero-button {
    /* width: 320px;
    height: 24px;
    padding: 16px 24px; */
    background-color: transparent;
    color: #c4c4c4;
    border-style: none;
    font-size: larger;
    text-align: center;
    border-radius: 32px;

    display: flex;
    gap: 16px;
    flex-direction: row-reverse;
    justify-content: space-between;
    
    /* the secondary button */
    align-items: center;

}

.hero-button-container {
    width: auto;
    height: 24px;
    padding: 16px;
    background-color: #121610;
    border-radius: 32px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero-clear-icon {
    font-size: 24px;
}

.hero-button-text {
    font-size: 16px;
    font-weight: bold;
    /* margin: 0 24px; */
    border-style: none;
    outline: none;
    width: auto;
    background-color: inherit;
    color: #c4c4c4;
    
    display:flex;
    flex-direction: row-reverse;
    justify-content: start;
    /* align-items: center; */

}

.hero-button-container-main {
    display: flex;
    justify-content: center;
}



.a-wrapper {
    padding: 0;
    border: none;
    outline: none;
}

.search-button {
    width: 32px;
    height:32px;
    background-color: transparent;
    border: none;
    outline: none;
}

#hero-search-icon {
    font-size: 20px;
    /* font-weight: thin; */
}

/* #search-icon {
    padding: 0 24px;

    display: flex;
    align-items: center;

} */


.hero-image {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hero-image-container {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-background-section {
    /* width: 900px; */
    max-width: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    position: relative;
    font-style: italic;

}

.hero-background-section p {
    font-size: 8px;
    opacity: 0.2;

}
.kidportrait-container {
    height: 240px;
    display: flex;
    justify-content: center;
}


.kidportrait {
    width: 216px;
    height: 216px;
    border-radius: 560px;

}

.first-section {
    margin-top: 64px;
    padding: 32px;
    width: auto;
    display: flex;
    gap: 64px;
    justify-content: center;
    align-items: center;
    
}

.first-section-text {
    text-align: left;
    width: 35%;
    height: auto;
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: baseline;
    justify-content: start;
}
.first-section-items {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;

    align-items: baseline;
}
.first-section-image {
    width: 108px;
    height: 108px;
    border-radius: 8px;
}

.home-cards {
    padding: 8px;
    border-radius: 8px;
    background-color: #FAF9F6;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: baseline;
    
}

.home-cards img {
    box-shadow: 0px 0px 0.2px #121610;

}


.home-cards p {
    text-align: left;
    width: auto;
    color: #121610;
    opacity: 1;
    font-size: 10px;
    

}

.second-section {
    background-color: #fdfcf8;
    padding: 96px 0;
    display: flex;
    gap: 48px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: space-between;
}

.second-section-text-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 32px;
}


.second-section-text {
    min-width: 480px;
    width: 480px;
    max-height: 240px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;

}
.second-section-items {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}

.thankyou {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.thankyou p {
    padding: 0;
    font-size: 160px;
    font-weight: bold;
    color: #121610ab;
    letter-spacing: -8px;
    line-height: 80px;
}

.third-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 64px;
    background-color: #FAF9F6;
    text-align: center;
    position: relative;
    font-style: italic;

}

.third-section-background p {
    font-size: 8px;

}
.third-section-background {
    max-width: 916px;
}

.thankyou-bottom-logo {
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fourth-section {
    background-color: #fdfcf8;
    padding: 96px 0;
    display: flex;
    gap: 48px;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
}

.fourth-section-text-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 32px;
}


.fourth-section-text {
    min-width: 480px;
    width: 480px;

    max-height: 240px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;

}
.fourth-section-items {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}


.footer-logo {
    background-color: white;
}

.footer-logo-section {
    background-color: #FAF9F6;
}

footer {
    height: 320px;
    display: flex;
    flex-direction: row;
}

footer p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

 
.first-section-footer {
    height: 100%;
    width: 25%;
    background-color: #fdfcf8;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.second-section-footer {
    padding: 32px;
    height: 100%;
    width: 75%;
    color: #c4c4c4;
    background-color: #121610;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.footer-nav-bar {
    display: flex;
    gap: 24px;

}


.home-cards-main {
    width: 360px;
    height: 360px;
    border-radius: 8px;
    box-shadow: -8px 0px #c4c4c4;
}

.home-cards-main:nth-child(1) {
    box-shadow: 8px 0px #c4c4c4;
}

/* Result page */



.results-section {
    /* margin-top: px; */
    width: auto;
    display: flex;
    gap: 64px;
    justify-content: center;
    align-items: top;
    
}


.results-section-text {
    text-align: left;
    /* min-width: 35%; */
    min-width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: space-between;
}

.results-section-text-small {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    font-style: normal;
    
}

/* .results-section-text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
} */

.results-section-items {
    width: auto;
    display: flex;
    /* flex-wrap: wrap; */
    column-gap: 16px;
    row-gap: 16px;

    align-items: baseline;
}
.results-section-image {
    width: 240px;
    height: 240px;
    border-radius: 8px;
}

.results-bottom-buttons {
    background-color: #fdfcf8;
    border-radius: 32px;
    padding: 24px;
    display: flex;
    justify-content: left;

}

.results-bottom-buttons button {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 8px 16px;
    border-radius: 16px;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    color: #121610;
    opacity: 1;

}

.results-bottom-buttons button:hover {
    padding: 8px 16px;
    border-radius: 16px;
    background-color: #c4c4c45A;
    font-weight: bolder;
    color: #121610;

}



.result-button-container {
    border-style: none;
    width: auto;
    padding: 0 32px 0 0;
    background-color: #121610;
    color: #c4c4c4;
    border-radius: 48px;
    display:flex;
    gap: 32px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}


.results-cards {
    padding: 8px;
    border-radius: 8px;
    background-color: #FAF9F6;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: baseline;
    
}

.results-cards img {
    box-shadow: 0px 0px 0.2px #121610;

}


.results-cards p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    text-align: left;
    width: auto;
    color: #121610;
    opacity: 1;
    font-size: 10px;

}

.results-button-container-main {
    display: flex;
    justify-content: right;

}

.results-button-container-main button {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 8px 16px;
    border-radius: 16px;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    color: #121610;
    opacity: 1;

}

.results-button-container-main button:hover {
    padding: 8px 16px;
    border-radius: 16px;
    background-color: #c4c4c45A;
    font-weight: bolder;
    color: #121610;

}

.return-home-button {
    text-decoration: none;
    color: inherit;
}

